@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("static\images\background.jpg") no-repeat;
}
.login-box{
 
  height: 360px;
  border: 5px solid black;
  width :380px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  background-color: white;
}

.button:active:after .login-box{
  display: block;
}

.login-box h1{
  float:left;
  font-size:  40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 30px;
  padding: 10px 0
}
.textbox{
  width :100%;
  overflow:hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px
}

.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: black;
  padding: 5px;
  font-size:  18px;
  cursor: pointer;
}


 
