@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";
  html, body {
    width: 100%;
    padding: 5px;
    margin: 0;
  }
  body {
    font-family: Arial;
    background: #f1f1f1;
    background: #ffffff url("images/bg.jpg") no-repeat ;
    background-size: cover;
  }

  .topnav {
    text-align: center;
    overflow: hidden;
  } 
  .topnav a {
    float: left;
    display: block;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
  }
  .top-sub a:hover {
    border-radius: 50%;
    /* background-color:black !important;   */
    color:white !important; 
    cursor:  pointer !important;
  }
  .topnav a:hover i{
    background-color: none !important;  
    color: green !important; 
  }
  .header {
    color: white;
    padding: 20px;
    text-align: center;
  }
  .header h1 {
    font-size: 50px;
  }
  
  .play{
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    /* background: white; */
  }
  .play i{
    font-size: 80px;
  }
  .share {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    cursor: pointer;
    text-align: center;
    /* border: 2px solid black; */
   
  }
  .share > div:nth-child(1) {
    grid-column: 3;
}
.share > div:nth-child(2) {
  grid-column: 6;
}
  .share > div:nth-child(3) {
    grid-column: 9;
}

  .share i{
    font-size: 60px;
    padding-top: 25px;
  }
  .share a{
    text-align: center;
  }
  /* .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  } */
  .content{
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
  }
  .content i{
    font-size: 80px;
    margin: 50px;
    padding: 30px;
    text-align: center;
  }
<<<<<<< HEAD
  .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/*
   Multicoloured Hover Variations
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
=======

  @media screen and (max-width: 600px) {
>>>>>>> 2612f8d2d5575e5d3e923781bb6652240c2af78a
    .topnav a {
      float: none;
      width: 100%;
      background: none !important;
    }
    .content i{
      
      font-size: 60px;
      padding: 20px;
      margin: 20px;
      display: inline-block;
    }
  }

.textbox{
  width :100%;
  overflow:hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px
}

.volume {
  -webkit-appearance: none;
  /* width: 100%; */
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.volume:hover {
  opacity: 1;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.volume ::-webkit-slider-runnable-track{
  border-radius: 5px;
  padding:
}
/* .volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
} */




 
