@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}

.login-box{
  width :280px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
}
.textbox{
  width :100%;
  overflow:hidden;
  font-size: 20px;
  border-bottom: 1px solid #4caf50;
  margin: 8px 0;
  padding: 8px 0;
}
.textbox input{
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px
}
.login-box h1{
  float: left;
  color: white;
  border-bottom: 6px solid #4caf50;
  padding: 10px 0
}
.btn{
  color: white;
  width: 100%;
  border: 2px solid #4caf50;
  background: none;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
}
.textbox i{
  color: white;
  float: left;
  text-align: center;
}
