<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\icofont.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="static\style-out.css">
</head>
<body id ="changeImage">
  <div class="topnav">
    <!-- Button trigger modal -->
    <a href= "/"class ="icon-home"><i class="fas fa-home" style="color: white;font-size: 40px"></i></a>
    <div class ="top-sub">
    {% if session.logged %}
      <a  href="/logout"style="float:right">Log out</a>
    {% else %}
      <a  href="#"style="float:right" data-toggle="modal" data-target="#form-signin">Sign in</a>
      <a  href="#"style="float:right" data-toggle="modal" data-target="#form-signup">Sign up</a>
    {% endif %}
    
    </div>

    <!-- Modal -->
    <div class="modal fade" id="form-signin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form id="login-form" method="POST" action="/login">
          <div class="modal-body">
              <div class="textbox">
                  <i class="fas fa-user"></i>
                  <input id="input-username" type="text" placeholder="Username" name="username" autofocus="1" autocomplete="off" required>
              </div>

              <div class="textbox">
                   <i class="fas fa-lock"></i>
                   <input id="input-password" type="password" placeholder="Password" name="password" required>
              </div>

          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
            <input id="btn-login" type="submit" class="btn btn-primary" value="Login">
          </div>
        </form>

        </div>
      </div>
    </div>
    <div class="modal fade" id="form-signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Sign up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form  method="POST" action="/signup">
          <div class="modal-body">
              <div class="textbox">
                  <i class="fas fa-user"></i>
                  <input type="text" placeholder="Username" id="user-name-signup" name="username" autofocus="1" autocomplete="off" required>
              </div>

              <div class="textbox">
                   <i class="fas fa-lock"></i>
                   <input type="password" placeholder="Password" name="password" autocomplete="off" required>
              </div>
              <div class="textbox">
                <i class="fas fa-birthday-cake"></i>
                <input type="date" name="dateOfBirth" required>
           </div>
         
           <div class="textbox">
                <i class="far fa-envelope"></i>
                <input type="text" placeholder="Email" name="email" required>
           </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Close">
            <input type="submit" id="btn-signup" class="btn btn-primary" value="Sign Up">
          </div>
        </form>

        </div>
      </div>
    </div>
  </div>
  <!-- HEADER -->
  <div class="header">
    <h1>Sounds in life</h1>
  </div>

<!-- TIMER;SHARE;MIX -->
  <div class="share">
      <div  class="dropdown" id= "user-clock"style="color: white"><i onclick="clockChange(0)" class="icofont-ui-alarm"></i></div>
      <div ><i id ="btn1" onclick="change(0)"  style="color: red; display:none" class="icofont-ui-play"></i><i id= "btn2" onclick="change(1)" style="color:green;" class="icofont-ui-pause"></i></div>
      <!-- <div style="color: white"><i class="icofont-share-alt"></i></div> -->
      {% if session.logged %}
      <div><a href ="/" style="color: white;text-decoration: none"><i class="icofont-share-alt"></i></a></div>
      {% else %}
      <div  style="color: white"><i id="user-share" onclick="myFunction()" class="icofont-share-alt"></i></div>
      {% endif %}
      <!-- <div id="drop-content" class="dropdown-content">
          <p>Hello World!</p>
      </div>  -->
  </div>



<!-- CONTENT -->
  <div class="content">
      {% for data in dataHtml %}
      <span class="loader">
        <i style="display: inline-block" id="{{data.name}}" class="{{data.classIcon}} hoverSound" ></i>
        <i style="display: none; font-size:20px; margin-bottom: 0px" id="{{data.name}}-loading" class="spinner-border" ></i>
      </span>
      <!-- <input id ="myRange" class ="volume" type="range" min="0" max="1" step="0.02" value="0"> -->
      {% endfor%}
  </div>




<script>
      const data = {{ dataHtml|tojson }};
      const session = {{ session|tojson }};
      const users = {{ users|tojson }};
      let loginError = true;
      let loginError1 = true;
      let loginshare = true;
      $('#btn-login').on('click', () => {
        for (let index = 0; index < users.length; index++) {
          const user = users[index];
          if (user.username === $('#input-username')[0].value) {
            if (user.password === $('#input-password')[0].value) {
              loginError = false;
              break;
            }
          }
        }
        if (loginError) {
          alert("Invalid Username or Password!");
        }
      })
      // $('#user-share').on('click',() =>{
      //   alert("We are developing this!")
      // })
      $('#user-clock').on('click',() =>{
        alert("We are developing this!")
      })
      $('#btn-signup').on('click',()=>{
        for(let index=0;index<users.length;index++){
          const user = users[index];
          if(user.name === $('#user-name-signup')[0].value){
            loginError1 = false;
            break;
          }
        }
        if (loginError1) {
          alert("The account currently exists!");
        }
      })
      $(`#btn-login`).on('click', () => {
        $(`#login-form`).submit();
      })
      data.forEach((item) => {
        let btnSound = $(`#${item.name}`);
        btnSound.on('click', () => {
          if(item.loading) {
            $(`#${item.name}-loading`).css({'display':'inline-block'});
            $(`#${item.name}`).css({'display':'none'});
          }
          if (item.audio === null) {
            let audio = new Audio(item.link);
            audio.loop = true;
            item.audio = audio;
          }
          if (!item.playing) {
            item.loading = true;
            item.audio.play().then(() => {
              item.loading = false;
              $(`#${item.name}-loading`).css({'display':'none'});
              $(`#${item.name}`).css({'display':'inline-block'});
            });
            btnSound.css('color', 'green');
            item.playing = true;
            // item.audio.loop
          } else {
            item.loading = false;
            item.audio.pause();
            
            btnSound.css('color', 'white');
            item.playing = false;
            
          }
        })
      })
  
      function change(sw){
          if (sw == 0) {
            document.getElementById("btn1").style.display = "none";
            document.getElementById("btn2").style.display = "inline";
            data.forEach((item) => {
            if (item.pause) {
                    item.audio.play();
                    item.playing = true;
                }
            })
            }else {
              document.getElementById("btn1").style.display = "inline";
              document.getElementById("btn2").style.display = "none";
              data.forEach((item) => {
                if (item.playing) {
                  item.audio.pause();
                  item.playing = false;
                  // let audio = new Audio(item.link);
                  // item.audio = audio;
                   
                }
              })
            }
        }

        function myFunction() {
           alert("You must log in to use the function");
        }
</script>
</body>
</html>
