<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static\style-in.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="topnav">
    <a href="#">Home</a>
    <a href="/" style="float:right">Log out</a>
    <a href="#" style="float:right">Community</a>
  </div>

  <div class="header">
    <h1>Sounds in life</h1>
  </div>

  <div class="play">
     <i class="fas fa-play"></i>
  </div>

  <div class="share">
    <div><button>Timer</button></div>
    <div><button>Mix</button></div>
    <div><button>Share</button></div>
  </div>

  <div class="content">
    <i class="fas fa-cloud-rain"></i>
    <i class="fas fa-dove"></i>
    <i class="fas fa-fire"></i>
    <i class="fas fa-water"></i>
    <i class="fas fa-water"></i>
    <i class="fas fa-water"></i>
    <i class="fas fa-water"></i>
    <i class="fas fa-water"></i>
    <i class="fas fa-water"></i>
  </div>

  <div class="footer">
    <h2>Footer</h2>
  </div>
</div>
</body>
</html>
