<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script>
      function validateForm() {
        var x = document.forms["myForm"]["userName"].value;
        var y = document.forms["myForm"]["pwd"].value;
        if (x == "") {
          alert("Name must be filled out");
          return false;
        }
        if (y == "") {
          alert("Invalid password");
          return false;
        }
      }
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_practice.css">
    <title></title>
  </head>
  <body>
  <form name="myForm"class ="login-box" action="/action_page.php" onsubmit="return validateForm()" method="post">
    <h1>Login</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="User name" name="userName" autofocus>
    </div>

    <div class="textbox">
       <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" name="pwd">
    </div>
    <input class ="btn" type="submit" name="" value="Sign in">
  </form>
  </body>
</html>
