<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="static\style-signup.css">
  </head>

  <body>
<form class ="login-box" method="post">
  <h1>Sign up</h1>
  <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" name="username" autofocus="1" required>
  </div>

  <div class="textbox">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" name="password" required>
  </div>

  <div class="textbox">
       <i class="fas fa-birthday-cake"></i>
       <input type="date" name="dateOfBirth" required>
  </div>

  <div class="textbox">
       <i class="far fa-envelope"></i>
       <input type="text" placeholder="Email" name="email" required>
  </div>

  <input class="btn" type="submit" value="Sign up">
</form="">
  </body>
</html>
