<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Transparent login form</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
<form class ="login-box" method="post">
  <h1>Sign up</h1>
  <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" name="" value="">
  </div>

  <div class="textbox">
       <i class="fas fa-lock"></i>
       <input type="password" placeholder="Password" name="" value="">
  </div>

  <div class="textbox">
       <i class="fas fa-birthday-cake"></i>
       <input type="date" placeholder="" name="" value="">
  </div>

  <div class="textbox">
       <i class="far fa-envelope"></i>
       <input type="text" placeholder="Email" name="" value="">
  </div>

  <input class="btn" type="button" name="" value="Sign in">
</form="">
  </body>
</html>
